
spring:
  application:
    name : Movie Ticketing

  datasource:
    url : jdbc:mariadb://ticketing.ctu2c6iu8z3h.ap-northeast-2.rds.amazonaws.com:3306/ticketing?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=UTC
    username: admin
    password: 21321
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        globally_quoted_identifiers: true
    hibernate:
      ddl-auto: update
      # 이렇게하면 테이블을 자동생성하고 바로 init함수 실행 + 기존테이블이 있을경우 테이블의 컬럼을 변경시킴
      # 모든 사항을 변경하는 것이 아닌 새로운 컬럼이 추가되는 변경사항만 반영
    defer-datasource-initialization: true
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

  sql:
    init:
      mode: always

  #       email 인증 properties

  mail:
    host: smtp.gmail.com
    port: 465
    username: neko2nu@gmail.com
    password: jbcj cwgq rwbn jtkl
    properties:
      mail.smtp.auth: true
      mail.smtp.ssl.enable: true
      mail.smtp.ssl.trust: smtp.gmail.com

logging:
  level:
    org.hibernate:
      sql: debug
      type: trace
