<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Display Page</title>
</head>
<body>
<header>
  <h1>앗! 문제가 발생했습니다</h1>
  <p/>현재 문제가 발생하여 처리 중입니다. </p>
  <a href="/">돌아가기</a>
</header>
<section>
  <h2>자주 발생하는 문제들</h2>
  <ul>
    <li>웹사이트가 로딩되지 않음 - 서버 다운타임이나 네트워크 문제로 인해 발생할 수 있습니다</li>
    <li>컨텐츠 누락 - 데이터 소스 오류나 접근 문제로 콘텐츠가 표시되지 않을 수 있습니다</li>
    <li>로그인 문제 - 잘못된 자격 증명이나 계정 문제로 로그인 할 수 없을 수 있습니다</li>
    <!-- Add more list items as needed -->
  </ul>
</section>
<section>
  <h2>무엇을 할 수 있나요?</h2>
  <ul>
    <li>연결 상태 확인 - 네트워크 연결이 안정적인지 확인하세요.</li>
    <li>캐시 삭제 - 브라우저의 캐시를 삭제하여 표시 문제를 해결하세요.</li>
    <li>개발팀에 문의 - 하지마세요</li>
  </ul>
</section>


<div th:text="${status}"></div>
<div th:text="${error}"></div>
<div th:text="${path}"></div>
<div th:text="${message}"></div>
<div th:text="${exception}"></div>
</body>
</html>
