<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
  <link href="/css/base.css" rel="stylesheet">
  <style>
    .p1{font-family : "Black Han Sans", sans-serif;
      font-weight: 400;
      font-style: normal;}
    .p2{font-family: "Jua", sans-serif;
      font-weight: 400;
      font-style: normal;}
  </style>
</head>
<body class="bg-gray-200">

<nav class="block w-full max-w-screen-xl px-4 py-2 mx-auto text-black bg-white border shadow-md rounded-xl border-white/80
        bg-opacity-80 backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-4">
  <div class="container flex items-center justify-between mx-auto text-blue-gray-900">
    <a href="/"
       class="mr-4 block cursor-pointer py-1 p1 font-medium antialiased text-2xl">
      CINE
    </a>
    <div class="hidden lg:block justify-end ">
      <ul class="flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
        <li
                class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
            <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
          </svg>
          <a href="movie" class="flex items-center p2 text-xl">
            영화
          </a>
        </li>
        <li
                class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
          </svg>
          <a href="#" class="flex items-center p2 text-xl">
            예매
          </a>
        </li>
      </ul>
    </div>
    <div class="flex items-center gap-x-1">
            <a href="login"
               class="px-4 p2 py-2 text-xl text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none
         hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:inline-block"
               role="button">
                <span>로그인</span>
            </a>
            <a href="mypage1"
               class="select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle p2
         text-xl uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20
         active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:inline-block"
               role="button">
                <span>마이페이지</span>
            </a>
        </div>
    <button
            class="relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] select-none rounded-lg text-center align-middle font-sans
                text-xs font-medium uppercase text-inherit transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent
                disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
            type="button">
      <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </span>
    </button>
  </div>
</nav>

<div class="min-h-screen flex items-center justify-center">


  <!-- Login container -->
  <div class="bg-white p-8 m-4 rounded shadow-md max-w-md w-full">
    <div class="bg-white p-8 m-4 rounded shadow-md max-w-md w-full">
      <h1 class="text-xl mb-4 font-bold">회원가입</h1>
      <form action="/addmember" method="POST" id="loginForm" class="space-y-4">
        <div>
          <input type="text" name="name" id="name" class="w-full p-2 border border-gray-300 rounded" placeholder="이름">
        </div>
        <div>
          <input type="number" name="age" id="age" class="w-full p-2 border border-gray-300 rounded" placeholder="나이">
        </div>
        <div>
          <input type="email" name="email" id="email" class="w-full p-2 border border-gray-300 rounded" placeholder="이메일">
        </div>
        <button type="button" id="send-code" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">코드전송</button>
        <div>
          <input type="text" id="email-check" class="w-full p-2 border border-gray-300 rounded" placeholder="전송된 코드 입력">
        </div>
        <div>
          <input type="password" name="password" id="password" class="w-full p-2 border border-gray-300 rounded" placeholder="비밀번호">
        </div>
        <div>
          <input type="password" name="confirmPassword" id="check-password" class="w-full p-2 border border-gray-300 rounded" placeholder="비밀번호 확인"> <!--how to check password check -->
        </div>

        <button type="submit" id="joinbutton" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">회원가입</button>
      </form>
    </div>
    <div class="flex justify-center space-x-4 text-sm mt-4">


    </div>
  </div>
</div>


</div>

<script>

  document.getElementById('joinbutton').addEventListener('submit', function(event){
    var password = document.getElementById('password').value;
    var confirmPassword = document.getElementById('check-password').value;

    if(password !== confirmPassword) {
      alert('비밀번호가 서로 맞지 않습니다');
      event.preventDefault(); // Prevent form submission if passwords do not match
    } else {
// If passwords match, allow the form to submit
      alert("회원가입 성공");
    }
  });

  function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById("navbar").style.padding = "1rem 0";
    } else {
      document.getElementById("navbar").style.padding = "2rem 0";
    }
  }
</script>


</body>

</html>
