<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="../static/css/base.css" rel="stylesheet">
</head>
<nav id="navbar" class="bg-gray-800 p-2 mt-0 w-full">
  <div class="container mx-auto flex justify-between">
    <div class="text-white font-bold text-2xl">
      <a href="home.html">CINE</a>
    </div>
    <div class="flex mt-2">
      <a href="movie.html" class="text-gray-200 text-sm hover:text-white mr-4">영화</a>
      <a href="reservation.html" class="text-gray-200 text-sm hover:text-white mr-4">예매</a>
      <a href="login.html" class="text-gray-200 text-sm hover:text-white mr-4">로그인</a>
      <a href="#" class="text-gray-200 text-sm hover:text-white">마이페이지</a>
    </div>
  </div>
</nav>
<body class="bg-gray-200">
<div class="min-h-screen flex items-center justify-center">


  <!-- Login container -->
  <div class="bg-white p-8 m-4 rounded shadow-md max-w-md w-full">
    <div class="bg-white p-8 m-4 rounded shadow-md max-w-md w-full">
      <h1 class="text-xl mb-4 font-bold">회원가입</h1>
      <form action="/addmember" method="POST" id="loginForm" class="space-y-4">
        <div>
          <input type="text" name="name" id="name" class="w-full p-2 border border-gray-300 rounded" placeholder="이름">
        </div>
        <div>
          <input type="number" name="age" id="age" class="w-full p-2 border border-gray-300 rounded" placeholder="나이">
        </div>
        <div>
          <input type="email" name="email" id="email" class="w-full p-2 border border-gray-300 rounded" placeholder="이메일">
        </div>
        <button type="submit" id="send-code" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">코드전송</button>
        <div>
          <input type="text" id="email-check" class="w-full p-2 border border-gray-300 rounded" placeholder="전송된 코드 입력">
        </div>
        <div>
          <input type="password" name="password" id="password" class="w-full p-2 border border-gray-300 rounded" placeholder="비밀번호">
        </div>
        <div>
          <input type="password" name="confirmPassword" id="check-password" class="w-full p-2 border border-gray-300 rounded" placeholder="비밀번호 확인"> <!--how to check password check -->
        </div>

        <button type="submit" id="joinbutton" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">회원가입</button>
      </form>
    </div>
    <div class="flex justify-center space-x-4 text-sm mt-4">


    </div>
  </div>
</div>


</div>

<script>

  document.getElementById('joinbutton').addEventListener('submit', function(event){
    var password = document.getElementById('password').value;
    var confirmPassword = document.getElementById('check-password').value;

    if(password !== confirmPassword) {
      alert('비밀번호가 서로 맞지 않습니다');
      event.preventDefault(); // Prevent form submission if passwords do not match
    } else {
// If passwords match, allow the form to submit
      alert("회원가입 성공");
    }
  });

  function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById("navbar").style.padding = "1rem 0";
    } else {
      document.getElementById("navbar").style.padding = "2rem 0";
    }
  }
</script>


</body>

</html>
