<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Chart</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/movie.css">
</head>
<body class="bg-gray-200">
<!-- Navigation Bar -->
<nav id="navbar" class="bg-gray-800 p-2 mt-0 w-full">
    <div class="container mx-auto flex justify-between">
        <div class="text-white font-bold text-2xl">
            <a href="/" th:href="@{/}">CINE</a>
        </div>
        <div class="flex mt-2">
            <a href="movie.html" class="text-gray-200 text-sm hover:text-white mr-4">영화</a>
            <a href="reservation.html" class="text-gray-200 text-sm hover:text-white mr-4">예매</a>
            <a href="login.html" class="text-gray-200 text-sm hover:text-white mr-4">로그인</a>
            <a href="" class="text-gray-200 text-sm hover:text-white">마이페이지</a>
        </div>
    </div>
</nav>

<!-- Search Form -->
<div class="search-sorting mt-4 mx-auto w-3/4 flex justify-between items-center">
    <form th:action="@{/search}" method="get">
        <input type="text" name="query" placeholder="Search Movies" class="px-4 py-2 border rounded"> <!-- 이 쿼리에서 값을 참조-->
        <button type="submit" class="px-4 py-2 border rounded">Search</button>
    </form>
</div>

<!-- Movie Grid -->
<div id="movie-grid" class="movie-grid mt-4 mx-auto w-3/4 grid grid-cols-4 gap-4">
    <div th:each="movie : ${movies}" class="poster">
        <img th:src="@{|https://image.tmdb.org/t/p/w500${movie.posterPath}|}" alt="Movie Poster" class="w-full">
        // |https://image.tmdb.org/t/p/w500${movieDetails.posterPath}|
        <div class="movie-name mt-2" th:text="${movie.title}"></div>
        <a th:href="@{/movieInfo(movieId=${movie.id})}">More details</a>

    </div>
</div>

<!-- Pagination -->


<script>
    function handlePaginationClick(page) {
        // Implement the logic to handle pagination.
    }
    function handleShiftClick(shift) {
        // Implement the logic for shifting pages left or right.
    }
</script>
</body>
</html>
