<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${movieDetails.title} + '의 상세정보'">Movie Details</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="/css/movieInfo.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
  <style>
    .p1{font-family : "Black Han Sans", sans-serif;
      font-weight: 400;
      font-style: normal;}
    .p2{font-family: "Jua", sans-serif;
      font-weight: 400;
      font-style: normal;}
    .disabled {
      background-color: gray !important;
      cursor: not-allowed !important;
    }
  </style>
</head>
<body>
<nav class="z-50 max-w-screen-xl px-8 py-4 block w-full mx-auto text-black bg-white border shadow-md rounded-xl border-white/80
        bg-opacity-80 backdrop-blur-2xl backdrop-saturate-200">
    <div class="container flex items-center justify-between mx-auto text-blue-gray-900">
        <a href="/"
           class="mr-4 block cursor-pointer py-1 p1 font-medium text-2xl">
            CINE
        </a>
        <div class="black justify-end ">
            <ul class="flex flex-row gap-2 mb-0 mt-0 flex-row items-center gap-6">
                <li class="flex items-center p-1 font-sans text-sm font-medium leading-normal gap-x-2 text-blue-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                    <a href="/movie" class="flex items-center p2 text-xl">
                        영화
                    </a>
                </li>
                <li class="flex items-center p-1 font-sans text-sm font-medium leading-normal gap-x-2 text-blue-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                    </svg>
                    <a href="/reservation" class="flex items-center p2 text-xl">
                        예매
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex items-center gap-x-1">
            <a href="/login" sec:authorize="isAnonymous"
               class="px-4 p2 py-2 text-xl text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none
         hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block">
                <span>로그인</span>
            </a>
            <a href="/logout" sec:authorize="isAuthenticated"
               class="px-4 p2 py-2 text-xl text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none
         hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block">
                <span>로그아웃</span>
            </a>
            <div id="userSection" data-role="USER" sec:authorize="!hasRole('ROLE_ADMIN')">
                <button id="menuButton" class="rounded-lg bg-gray-900 py-3 px-4 text-center align-middle font-sans text-lg font-bold uppercase text-white
                shadow-md shadow-gray-900/10 active:shadow-none disabled:pointer-events-none">
                    마이페이지
                </button>
                <ul id="dropdownMenu" role="menu" class="hidden absolute z-10 min-w-[120px] rounded-md border border-blue-gray-50 bg-white p-3 font-sans
            text-sm font-normal text-blue-gray-500 shadow-lg shadow-blue-gray-500/10 focus:outline-none">
                    <li role="menuitem" class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
                transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
                        <a href="/user/mypage1">개인정보수정</a>
                    </li>
                    <li role="menuitem" class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
                transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
                        <a href="/user/mypage2">예매내역확인</a>
                    </li>
                </ul>
            </div>
            <div id="adminSection" data-role="ADMIN" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button id="menuButton2" data-ripple-light="true" data-popover-target="menu"
                            class=" rounded-lg bg-gray-900 py-3 px-4 text-center align-middle font-sans text-lg font-bold uppercase text-white
            shadow-md shadow-gray-900/10 active:shadow-none disabled:pointer-events-none">
                        관리자페이지
                    </button>
                    <ul id="dropdownMenu2" role="menu" data-popover="menu" data-popover-placement="bottom"
                        class="hidden absolute z-10 min-w-[120px] rounded-md border border-blue-gray-50 bg-white p-3 font-sans
        text-sm font-normal text-blue-gray-500 shadow-lg shadow-blue-gray-500/10 focus:outline-none">
                        <li role="menuitem"
                            class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
            transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
                            <a href="/admin/member">회원관리</a>
                        </li>
                        <li role="menuitem"
                            class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
            transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
                            <a href="/admin/adminTheater">상영관 관리</a>
                        </li>

                        <li role="menuitem"
                            class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
            transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
                            <a href="/admin/adminMovie">영화 관리</a>
                        </li>
                    </ul>
        </div>

        </div>
    </div>
</nav>
<div class="container mx-auto mt-4 max-w-screen-xl">
  <div class="flex">
    <!-- Poster -->
    <!-- |...| 구문 : Thymeleaf 에서 문자열 리터럴을 결합할 때 사용하는 문법 -->
    <!-- TMDB API에서 영화 상세 정보를 불러올 때, 응답에는 포스터 이미지의 완전한 URL 경로를 적어줘야 한다. -->
    <img th:src="|https://image.tmdb.org/t/p/w500${movieDetails.posterPath}|" alt="Movie Poster" class="rounded shadow-lg w-1/4" />

    <!-- Movie Info Next to Poster -->
    <div class="ml-4 flex flex-col justify-between">
      <div>
        <h2 class="text-xl font-bold" th:text="${movieDetails.title}">영화명</h2>
        <div class="info-box p-2 mt-2">
          | 평점 : <span th:text="${#numbers.formatDecimal(movieDetails.rating, 1, 'COMMA', 1, 'POINT')}"></span>
        </div>
      </div>
      <div class="info-box rounded p-4">
        <span>감독 :</span>
        <span th:text="${actors.name[0]}">감독</span>
        <br>
        <span>배우 :</span>
        <span th:each="name,state: ${actors.name}" th:if="${state.index>0}">
          <span th:text="${name}">배우</span><span th:if="${!state.last}"> ,</span>
          </span>
      </div> <!-- th if문을통해 리스트로 받은것에서 리스트 첫번째 항목은 디렉터 두번째부터는 배우!
            th:each의 새로운 문법 th:each = "변수명,상태변수명 :${}" 상태변수를 사용하여 인덱스/항목의 정보를 알 수 있다.
            기본적으로 리스트의 각 항목을 name에 할당하고 state를 통해 리스트의 인덱스를 알 수 있다.\
            감독: 변수1
            배우: 변수2 , 변수3 , ..이런 방식-->

      <div class="info-box rounded p-4">
        장르: <span th:each="genre, iterStat : ${movieDetails.genres}">
                <span th:text="${genre.name}"></span>
                <span th:if="${not iterStat.last}">, </span>
             </span>

        / 개봉일자 : <span th:text="${movieDetails.openDate}"></span>
      </div>
        <a th:href="${state} ? '/reservation' : '#'">
            <button th:attr="disabled=${!state}" th:text="${state} ? '예매하기' : '예매 불가'"
                    th:classappend="${!state} ? 'disabled' : ''"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                예매하기
            </button>
        </a>  <!--th:attr: html요소의 속성을 동적으로 설정 즉 버튼의 속성을 state값으로 조정가능 state가 false일때 동작
                    이유: state가 false이면 disabled =1이어서 이게 동작함
                    th: classappend html 클래스를 추가함 -> ${!state} 가 1이면 'disabled' 아니면 ''
                    => disabled 클래스를 덧붙여서 state가 false일 때 disabled 클래스 속성을 가짐
                    => style태그에서 disabled 클래스 꾸미기 가능
                     +style태그안에서 !important추가하면 이 스타일 규칙이 다른 모든 규칙보다 우선하게 만듬
                    th:text="${state} ? '예매하기' : '예매 불가' 이거는 삼항연산자
                    !-->
    </div>
  </div>
  <div class="mt-4"> <!-- 새 요소: 기존 데이터 아래에 위치 -->
    <h1 th:text="${movieDetails.overview}"></h1>
  </div>

</div>

<script>
  function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById("navbar").style.padding = "1rem 0";
    } else {
      document.getElementById("navbar").style.padding = "2rem 0";
    }
  }
  document.addEventListener("DOMContentLoaded", function() {
      const userSection = document.getElementById("userSection");
      const adminSection = document.getElementById("adminSection");

      if (userSection) {
          document.getElementById("menuButton").addEventListener("click", function() {
              const dropdownMenu = document.getElementById("dropdownMenu");
              dropdownMenu.classList.toggle("hidden");
          });
      }

      if (adminSection) {
          document.getElementById("menuButton2").addEventListener("click", function() {
              const dropdownMenu2 = document.getElementById("dropdownMenu2");
              dropdownMenu2.classList.toggle("hidden");
          });
      }
  });
</script>
</body>
</html>
