<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${movieDetails.id}">Movie Details</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="../static/css/movieInfo.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
<nav id="navbar" class="bg-gray-800 p-2 mt-0 w-full">
  <div class="container mx-auto flex justify-between">
    <div class="text-white font-bold text-2xl">
      <a href="home.html">CINE</a>
    </div>
    <div class="flex mt-2">
      <a href="movie.html" class="text-gray-200 text-sm hover:text-white mr-4">영화</a>
      <a href="reservation.html" class="text-gray-200 text-sm hover:text-white mr-4">예매</a>
      <a href="login.html" class="text-gray-200 text-sm hover:text-white mr-4">로그인</a>
      <a href="#" class="text-gray-200 text-sm hover:text-white">마이페이지</a>
    </div>
  </div>
</nav>
<div class="container mx-auto mt-4">
  <div class="flex">
    <!-- Poster -->
    <img th:src="@{${movieDetails.posterPath}}" alt="Movie Poster" class="rounded shadow-lg w-1/4" />

    <!-- Movie Info Next to Poster -->
    <div class="ml-4 flex flex-col justify-between">
      <div>
        <h2 class="text-xl font-bold" th:text="${movieDetails.title}">영화명</h2>
        <div class="info-box p-2 mt-2">
          | 평점 : <span th:text="${movieDetails.rating}"></span>
        </div>
      </div>

      <div class="info-box rounded p-4">
        장르: <span th:each="genre, iterStat : ${movieDetails.genres}"
              th:text="${genre.name} + (iterStat.last ? '' : ', ')">[장르명]</span>

        / 개봉일자 : <span th:text="${movieDetails.openDate}"></span>
      </div>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        예매하기
      </button>
    </div>


  </div>
  <div class="mt-4"> <!-- 새 요소: 기존 데이터 아래에 위치 -->
    <h1 th:text="${movieDetails.overview}"></h1>
  </div>

</div>

<script>
  function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById("navbar").style.padding = "1rem 0";
    } else {
      document.getElementById("navbar").style.padding = "2rem 0";
    }
  }
</script>
</body>
</html>
