<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>멤버 페이지</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="../static/css/mypage1.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
  <style>
    nav ul li{display: inline-block;}
    ul,li{list-style-type:none;}
    nav ul ul{display: none; background: #1f2937}
    nav ul li:hover ul{display:block; position:absolute;}
    nav ul ul li{width:100px; height:30px;}
    .p1{font-family : "Black Han Sans", sans-serif;
      font-weight: 400;
      font-style: normal;}
    .p2{font-family: "Jua", sans-serif;
      font-weight: 400;
      font-style: normal;}
  </style>

</head>
<body>
<nav class="max-w-screen-xl px-8 py-4 block w-full mx-auto text-black bg-white border shadow-md rounded-xl border-white/80
        bg-opacity-80 backdrop-blur-2xl backdrop-saturate-200">
    <div class="container flex items-center justify-between mx-auto text-blue-gray-900">
        <a href="/"
           class="mr-4 block cursor-pointer py-1 p1 font-medium text-2xl">
            CINE
        </a>
        <div class="black justify-end ">
            <ul class="flex flex-row gap-2 mb-0 mt-0 flex-row items-center gap-6">
                <li class="flex items-center p-1 font-sans text-sm font-medium leading-normal gap-x-2 text-blue-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                    <a href="/movie" class="flex items-center p2 text-xl">
                        영화
                    </a>
                </li>
                <li class="flex items-center p-1 font-sans text-sm font-medium leading-normal gap-x-2 text-blue-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                    </svg>
                    <a href="/reservation" class="flex items-center p2 text-xl">
                        예매
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex items-center gap-x-1">
            <a href="/login" sec:authorize="isAnonymous"
               class="px-4 p2 py-2 text-xl text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none
         hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block">
                <span>로그인</span>
            </a>
            <a href="/logout" sec:authorize="isAuthenticated"
               class="px-4 p2 py-2 text-xl text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none
         hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block">
                <span>로그아웃</span>
            </a>
            <div sec:authorize="!hasRole('ROLE_ADMIN')"> <!-- 어드민 아닐 경우!-->
                <button id="menuButton" data-ripple-light="true" data-popover-target="menu"
                        class=" rounded-lg bg-gray-900 py-3 px-4 text-center align-middle font-sans text-lg font-bold uppercase text-white
            shadow-md shadow-gray-900/10 active:shadow-none disabled:pointer-events-none">
                    마이페이지
                </button>
                <ul id="dropdownMenu" role="menu" data-popover="menu" data-popover-placement="bottom"
                    class="hidden absolute z-10 min-w-[120px] rounded-md border border-blue-gray-50 bg-white p-3 font-sans
        text-sm font-normal text-blue-gray-500 shadow-lg shadow-blue-gray-500/10 focus:outline-none">
                    <li role="menuitem"
                        class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
            transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
                        <a href="/user/mypage1">개인정보수정</a>
                    </li>
                    <li role="menuitem"
                        class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
            transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
                        <a href="/user/mypage2">예매내역확인</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
<div class="flex h-screen">

  <!-- Modify Member Information Section -->
  <div class="w-1/2 flex flex-col items-center justify-center bg-white p-8">
    <a href="mypage2">예매내역 조회</a>
    <h1 class="text-xl font-bold mb-8">회원정보변경</h1>

    <form action="update-password" method="post" id="modifyForm" class="w-full max-w-lg">
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label for="name" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">이름</label>
          <input type="text" th:value ="${member.name}" name="name" id="name" value="name" readonly class="block w-full bg-gray-200 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label for="age" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">나이</label>
          <input type="number" th:value ="${member.age}" name="age" id="age" value="20" readonly class="block w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label for="email" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">이메일</label>
          <input type="email" th:value ="${member.email}" name="email" id="email" value="john@example.com" readonly class="block w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="password">
            새 비밀번호
          </label>
          <input name="password" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="password" type="password" placeholder="******************">
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="password-confirm">
            비밀번호 확인
          </label>
          <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="password-confirm" type="password" placeholder="******************">
        </div>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" onclick="checkPassword()">
          변경
        </button>
      </div>
    </form>
  </div>

  <!-- Membership Withdrawal Section -->
  <div class="w-1/2 flex flex-col items-center justify-center bg-gray-50 p-8">
    <h1 class="text-xl font-bold mb-8">회원탈퇴</h1>

    <div class="w-full max-w-xs">
    <form action="/delete-member" method="post">
      <div class="mb-4">

        <label class="block text-gray-700 text-sm font-bold mb-2" >
          비밀번호
        </label>
        <input name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password-withdrawal" type="password" placeholder="******************">
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          탈퇴
        </button>  -->
        <!--- fetch 함수 이용해서 alert만드는 거인데 일단 보류
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" onclick="withdrawMembership()">
          탈퇴
        </button>  -->

      </div>
    </form>
    </div>

  </div>
</div>

<script>
  function checkPassword() {
    const password = document.getElementById('password').value;
    const confirm = document.getElementById('password-confirm').value;

    if (password === confirm) {
      alert('비밀번호 변경 완료');
      document.getElementById('modifyForm').submit(); // 폼 제출
    } else {
      alert('비밀번호가 서로 다릅니다');
    }
  }

  function withdrawMembership() {
    const password = document.getElementById('password-withdrawal').value;
    // 비밀번호가 입력되었는지 확인
    if (!password) {
      alert('비밀번호를 입력하세요.');
      return;
    }
  }

  // 마이페이지 메뉴 Dropdown
  document.getElementById("menuButton").addEventListener("click", function() {
      const dropdownMenu = document.getElementById("dropdownMenu");
      if(dropdownMenu.classList.contains("hidden")) {
          dropdownMenu.classList.remove("hidden");
      } else {
          dropdownMenu.classList.add("hidden");
      }
  });
</script>

</body>
</html>