<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>예매 내용 페이지</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="/css/base.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
  <style>
    .p1{font-family : "Black Han Sans", sans-serif;
      font-weight: 400;
      font-style: normal;}
    .p2{font-family: "Jua", sans-serif;
      font-weight: 400;
      font-style: normal;}
  </style>
</head>
<body class="bg-gray-200 ">
<nav class="max-w-screen-xl px-8 py-4 block w-full mx-auto text-black bg-white border shadow-md rounded-xl border-white/80
        bg-opacity-80 backdrop-blur-2xl backdrop-saturate-200">
    <div class="container flex items-center justify-between mx-auto text-blue-gray-900">
        <a href="/"
           class="mr-4 block cursor-pointer py-1 p1 font-medium text-2xl">
            CINE
        </a>
        <div class="black justify-end ">
            <ul class="flex flex-row gap-2 mb-0 mt-0 flex-row items-center gap-6">
                <li class="flex items-center p-1 font-sans text-sm font-medium leading-normal gap-x-2 text-blue-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                    <a href="/movie" class="flex items-center p2 text-xl">
                        영화
                    </a>
                </li>
                <li class="flex items-center p-1 font-sans text-sm font-medium leading-normal gap-x-2 text-blue-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                    </svg>
                    <a href="/reservation" class="flex items-center p2 text-xl">
                        예매
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex items-center gap-x-1">
            <a href="/login" sec:authorize="isAnonymous"
               class="px-4 p2 py-2 text-xl text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none
         hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block">
                <span>로그인</span>
            </a>
            <a href="/logout" sec:authorize="isAuthenticated"
               class="px-4 p2 py-2 text-xl text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none
         hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block">
                <span>로그아웃</span>
            </a>
            <div sec:authorize="!hasRole('ROLE_ADMIN')"> <!-- 어드민 아닐 경우!-->
                <button id="menuButton" data-ripple-light="true" data-popover-target="menu"
                        class=" rounded-lg bg-gray-900 py-3 px-4 text-center align-middle font-sans text-lg font-bold uppercase text-white
            shadow-md shadow-gray-900/10 active:shadow-none disabled:pointer-events-none">
                    마이페이지
                </button>
                <ul id="dropdownMenu" role="menu" data-popover="menu" data-popover-placement="bottom"
                    class="hidden absolute z-10 min-w-[120px] rounded-md border border-blue-gray-50 bg-white p-3 font-sans
        text-sm font-normal text-blue-gray-500 shadow-lg shadow-blue-gray-500/10 focus:outline-none">
                    <li role="menuitem"
                        class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
            transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
                        <a href="/user/mypage1">개인정보수정</a>
                    </li>
                    <li role="menuitem"
                        class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
            transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
                        <a href="/user/mypage2">예매내역확인</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="bg-gray-800 px-4 py-2 text-white">
    <div class="sidebar mb-4">
        <label for="pageSelect"></label><select id="pageSelect" class="block w-full bg-gray-200 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" onchange="navigateToPage()">
            <option value="#">페이지 선택</option>
            <option value="/user/mypage1">회원 정보변경</option>
            <option value="/user/mypage2">회원 예매내역</option>
        </select>
    </div>
  <h2 class="text-xl">예약내역조회</h2>
  <h1>만약 영화 상영 당일날, 취소가 불가능합니다.</h1>
</div>
<div class="overflow-x-auto">
    <table class="table-auto w-full">
        <thead>
        <tr class="bg-black text-white">
            <th class="px-4 py-2">예약날짜</th>
            <th class="px-4 py-2">예약번호</th>
            <th class="px-4 py-2">상영시간</th>
            <th class="px-4 py-2">영화명</th>
            <th class="px-4 py-2">좌석번호</th>
            <th class="px-4 py-2">예약</th>
        </tr>
        </thead>
        <tbody class="bg-white text-black">
        <tr th:each="entry : ${reservationTicketsMap}"> <!-- 키:reservation / map ticket이라
                                                                 key.~ reservation 테이블값 / value.~~는 ticket의 값들 !-->
            <td class="border px-4 py-2" th:text="${entry.key.date}">예약날짜</td>
            <td class="border px-4 py-2" th:text="${entry.key.id}">예약번호</td>
            <td class="border px-4 py-2"
                th:if="${entry.value.size() > 0}"
                th:text="${formattedTimesMap.containsKey(entry.key) ? formattedTimesMap.get(entry.key).entrySet().iterator().next().value : '상영시간 없음'}">
                상영시간
            </td>
            <td class="border px-4 py-2" th:if="${entry.value.size() > 0}" th:text="${entry.value[0].schedule.movie.title}">영화명</td>
            <td class="border px-4 py-2">
               <span th:each="ticket, iter : ${entry.value}">
                    <span th:text="${ticket.seat.seatNumber}+'번'"></span>
                    <span th:if="${!iter.last}">, </span>
                </span>
            </td>
            <td class="border px-4 py-2 text-center">
                        <form th:if="${entry.value.size() > 0 and (entry.value[0].schedule.date.isAfter(currentDate) or (entry.value[0].schedule.date.isEqual(currentDate) and entry.value[0].schedule.start.isAfter(T(java.time.LocalTime).now())))}"
                              method="post" th:action="@{/user/cancelReservation}"
                              onsubmit="return confirmCancel();">
                        <input type="hidden" name="reservationId" th:value="${entry.key.id}"/>
                    <button type="submit" class="px-4 py-2 bg-red-500 text-white">취소</button>
                </form>
                <span th:if="${entry.value.size() == 0 or (entry.value[0].schedule.date.isBefore(currentDate) or (entry.value[0].schedule.date.isEqual(currentDate) and entry.value[0].schedule.start.isBefore(T(java.time.LocalTime).now())))}"
                      class="text-gray-500" th:text="'취소불가'"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    // 마이페이지 메뉴 Dropdown
    document.getElementById("menuButton").addEventListener("click", function() {
        const dropdownMenu = document.getElementById("dropdownMenu");
        if(dropdownMenu.classList.contains("hidden")) {
            dropdownMenu.classList.remove("hidden");
        } else {
            dropdownMenu.classList.add("hidden");
        }
    });
    function navigateToPage() {
        const select = document.getElementById("pageSelect");
        const selectedValue = select.value;
        if (selectedValue) {
            window.location.href = selectedValue;
        }
    }

    function confirmCancel() {
        return confirm('정말로 예약을 취소하시겠습니까?');
    }
</script>
</body>
</html>