<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>예매 페이지</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <link href="/css/reservation.css" rel="stylesheet">
  <style>
    .p1{font-family : "Black Han Sans", sans-serif; font-weight: 400; font-style: normal;}
    .p2{font-family: "Jua", sans-serif; font-weight: 400; font-style: normal;}
    .disabled {
      pointer-events: none;
      opacity: 0.6;
    }
    .enabled {
      pointer-events: auto;
      opacity: 1;
    }
    .selected { background-color: #f0f0f0; }
    .scrollable-list { max-height: 400px; overflow-y: auto; }
    .seat-row {
      display: flex;
      justify-content: center;
    }
    .seat {
      width: 30px;
      height: 30px;
      margin: 3px;
      background-color: #f3f4f6; /* Tailwind gray-100 */
      border: none;
      border-radius: 5px;
    }
    .selected {
      background-color: #10b981; /* Tailwind emerald-500 */
    }
    .screen {
      display: block;
      width: 30%;
      padding: 10px;
      margin: 20px auto;
      background-color: #4f46e5; /* Tailwind indigo-500 */
      color: white;
      text-align: center;
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      font-weight: bold;
      font-size: 1.25rem; /* Equivalent to Tailwind's text-lg */
    }
  </style>
</head>

<body class="bg-gray-100 text-gray-900">
<nav class="z-50 relative max-w-screen-xl px-8 py-4 block w-full mx-auto text-black bg-white border shadow-md rounded-xl border-white/80
        bg-opacity-80 backdrop-blur-2xl backdrop-saturate-200">
  <div class="container flex items-center justify-between mx-auto text-blue-gray-900">
    <a href="/"
       class="mr-4 block cursor-pointer py-1 p1 font-medium text-2xl">
      CINE
    </a>
    <div class="black justify-end ">
      <ul class="flex flex-row gap-2 mb-0 mt-0 flex-row items-center gap-6">
        <li class="flex items-center p-1 font-sans text-sm font-medium leading-normal gap-x-2 text-blue-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
            <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
          </svg>
          <a href="/movie" class="flex items-center p2 text-xl">
            영화
          </a>
        </li>
        <li class="flex items-center p-1 font-sans text-sm font-medium leading-normal gap-x-2 text-blue-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
          </svg>
          <a href="/reservation" class="flex items-center p2 text-xl">
            예매
          </a>
        </li>
      </ul>
    </div>
    <div class="flex items-center gap-x-1">
      <a href="/login" sec:authorize="isAnonymous"
         class="px-4 p2 py-2 text-xl text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none
         hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block">
        <span>로그인</span>
      </a>
      <a href="/logout" sec:authorize="isAuthenticated"
         class="px-4 p2 py-2 text-xl text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none
         hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block">
        <span>로그아웃</span>
      </a>
      <div id="userSection" data-role="USER" sec:authorize="!hasRole('ROLE_ADMIN')">
        <button id="menuButton" class="rounded-lg bg-gray-900 py-3 px-4 text-center align-middle font-sans text-lg font-bold uppercase text-white
                shadow-md shadow-gray-900/10 active:shadow-none disabled:pointer-events-none">
          마이페이지
        </button>
        <ul id="dropdownMenu" role="menu" class="hidden absolute z-10 min-w-[120px] rounded-md border border-blue-gray-50 bg-white p-3 font-sans
            text-sm font-normal text-blue-gray-500 shadow-lg shadow-blue-gray-500/10 focus:outline-none">
          <li role="menuitem" class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
                transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
            <a href="/user/mypage1">개인정보수정</a>
          </li>
          <li role="menuitem" class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
                transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
            <a href="/user/mypage2">예매내역확인</a>
          </li>
        </ul>
      </div>
      <div id="adminSection" data-role="ADMIN" sec:authorize="hasRole('ROLE_ADMIN')">
        <button id="menuButton2" data-ripple-light="true" data-popover-target="menu"
                class=" rounded-lg bg-gray-900 py-3 px-4 text-center align-middle font-sans text-lg font-bold uppercase text-white
            shadow-md shadow-gray-900/10 active:shadow-none disabled:pointer-events-none">
          관리자페이지
        </button>
        <ul id="dropdownMenu2" role="menu" data-popover="menu" data-popover-placement="bottom"
            class="hidden absolute z-10 min-w-[120px] rounded-md border border-blue-gray-50 bg-white p-3 font-sans
        text-sm font-normal text-blue-gray-500 shadow-lg shadow-blue-gray-500/10 focus:outline-none">
          <li role="menuitem"
              class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
            transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
            <a href="/admin/member">회원관리</a>
          </li>
          <li role="menuitem"
              class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
            transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
            <a href="/admin/adminTheater">상영관 관리</a>
          </li>

          <li role="menuitem"
              class="block w-full cursor-pointer select-none rounded-md px-3 pt-[9px] pb-2 text-start leading-tight
            transition-all hover:bg-blue-gray-50 hover:bg-opacity-80 hover:bg-gray-500/20">
            <a href="/admin/adminMovie">영화 관리</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
  <form action="/user/reservation" method="post" id="reservationForm">
    <div class="container mx-auto p-4">
      <div class="grid grid-cols-3 gap-4">
        <div class="bg-white p-4 rounded shadow">
          <h2 class="text-xl font-bold mb-4">영화</h2>
          <ul id="movieList" class="space-y-2 scrollable-list">
            <li th:each="movie : ${uniqueMovies}"
                th:data-movie-id="${movie.id}"
                class="cursor-pointer hover:bg-gray-200 p-2 rounded"
                th:text="${movie.title}"
                onclick="selectMovie(this, '${movie.id}')"></li>
          </ul>
          <input type="hidden" id="selectedMovieId" name="movieId">
        </div>
        <div class="bg-white p-4 rounded shadow">
          <h2 class="text-xl font-bold mb-4">날짜</h2>
          <ul id="dateList" class="space-y-2 scrollable-list">
          </ul>
          <input type="hidden" id="selectedDate" name="date">
        </div>
        <div class="bg-white p-4 rounded shadow">
          <h2 class="text-xl font-bold mb-4">시간</h2>
          <ul id="timeList" class="space-y-2 scrollable-list">
          </ul>
          <input type="hidden" id="selectedTime" name="time">
          <input type="hidden" id="selectedTheater" name="theaterName">
        </div>
      </div>
      <button type="button" id="reserveButton" class="mt-4 p-2 bg-blue-500 text-white rounded">다음으로</button>
    </div>

    <!-- Hidden seat selection section -->
    <div id="seatSelection" style="display: none;">
      <div class="screen">
        SCREEN
      </div>
      <div id="seats">
        <!-- Rows and seats will be generated by JavaScript -->
      </div>
      <div class="flex justify-end p-4">
        <input type="hidden" id="selectedSeats" name="seatNumbers"> <!-- 선택된 좌석 정보 저장 -->
        <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700" id="reserveComplete" disabled>
          예매완료
        </button>
      </div>
    </div>
  </form>
<script th:inline="javascript">
  /*<![CDATA[*/
  const schedules = /*[[${schedules}]]*/ [];
  const occupiedSeatsMap = /*[[${occupiedSeatsMap}]]*/ {};
  console.log("Schedules:", schedules);
  console.log("Occupied Seats Map:", occupiedSeatsMap);
  /*]]>*/
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const reserveButton = document.getElementById('reserveButton');
    reserveButton.style.display = 'none';

    document.querySelectorAll('#movieList li').forEach(movieLi => {
      movieLi.addEventListener('click', () => {
        const movieId = movieLi.getAttribute('data-movie-id');
        console.log("Selected Movie ID:", movieId);
        showDatesForMovie(movieId);
        document.querySelectorAll('#movieList li').forEach(li => li.classList.remove('selected'));
        movieLi.classList.add('selected');
        document.getElementById('selectedMovieId').value = movieId;
        reserveButton.style.display = 'none';
        hideSeatSelection();
      });
    });

    reserveButton.addEventListener('click', (event) => {
      event.preventDefault();
      const seatSelection = document.getElementById('seatSelection');
      seatSelection.style.display = 'block';
      const selectedMovieId = document.getElementById('selectedMovieId').value;
      const selectedDate = document.getElementById('selectedDate').value;
      const selectedTime = document.getElementById('selectedTime').value;
      const selectedTheaterId = parseInt(document.querySelector('#timeList .selected').textContent.match(/\(([^)]+)\)/)[1]);
      console.log("Reserve button clicked with Movie ID:", selectedMovieId, "Date:", selectedDate, "Time:", selectedTime, "Theater ID:", selectedTheaterId);
      generateSeats(selectedMovieId, selectedDate, selectedTime, selectedTheaterId);
    });

    document.getElementById('reservationForm').addEventListener('submit', (event) => {
      const selectedMovieId = document.getElementById('selectedMovieId').value;
      const selectedDate = document.getElementById('selectedDate').value;
      const selectedTime = document.getElementById('selectedTime').value;
      const selectedSeats = document.getElementById('selectedSeats').value;
      const selectedTheater = document.getElementById('selectedTheater').value;

      if (!selectedMovieId || !selectedDate || !selectedTime || !selectedSeats) {
        event.preventDefault();
        alert("모든 필드를 채워주세요.");
      }
    });
  });

  function showDatesForMovie(movieId) {
    const dateList = document.getElementById('dateList');
    dateList.innerHTML = '';
    const dates = Array.from(new Set(schedules.filter(schedule => schedule.movie.id === parseInt(movieId)).map(schedule => schedule.date)));
    console.log("Available Dates for Movie ID", movieId, ":", dates);

    dates.forEach(date => {
      let li = document.createElement('li');
      li.textContent = date;
      li.classList.add('cursor-pointer', 'hover:bg-gray-200', 'p-2', 'rounded');
      li.addEventListener('click', () => {
        showTimesForDate(movieId, date);
        document.querySelectorAll('#dateList li').forEach(li => li.classList.remove('selected'));
        li.classList.add('selected');
        document.getElementById('selectedDate').value = date;
        reserveButton.style.display = 'none';
        hideSeatSelection();
      });
      dateList.appendChild(li);
    });
  }

  function showTimesForDate(movieId, date) {
    const timeList = document.getElementById('timeList');
    timeList.innerHTML = '';
    const times = schedules.filter(schedule => schedule.movie.id === parseInt(movieId) && schedule.date === date).map(schedule => `${schedule.start} (${schedule.theater.id}관)`);
    console.log("Available Times for Movie ID", movieId, "on Date", date, ":", times);

    times.forEach(time => {
      let li = document.createElement('li');
      li.textContent = time;
      li.classList.add('cursor-pointer', 'hover:bg-gray-200', 'p-2', 'rounded');
      li.addEventListener('click', () => {
        document.querySelectorAll('#timeList li').forEach(li => li.classList.remove('selected'));
        li.classList.add('selected');
        document.getElementById('selectedTime').value = time.split(' ')[0];
        const selectedTheater = time.match(/\(([^)]+)\)/)[1]; //time 문자열에서 괄호안에 있는 1글자 이상을 가져옴
        document.getElementById('selectedTheater').value = selectedTheater; // Set theater ID to hidden input field
        reserveButton.style.display = 'block';
        reserveButton.style.display = 'block';
        hideSeatSelection();
      });
      timeList.appendChild(li);
    });
  }

  function hideSeatSelection() {
    const seatSelection = document.getElementById('seatSelection');
    seatSelection.style.display = 'none';
  }

  function generateSeats(movieId, date, time, theaterId) {
    console.log(`Generating seats for Movie: ${movieId}, Date: ${date}, Time: ${time}, Theater: ${theaterId}`);
    const seatsContainer = document.getElementById('seats');
    seatsContainer.innerHTML = '';
    const rows = 7;
    const seatsPerRow = 7;

    const schedule = schedules.find(schedule =>
            schedule.movie.id === parseInt(movieId) &&
            schedule.date === date &&
            schedule.start === time &&
            schedule.theater.id === theaterId
    );
    const scheduleId = schedule ? schedule.id : null;

    if (!scheduleId) {
      console.error('Schedule not found');
      return;
    }

    const occupiedSeats = occupiedSeatsMap[scheduleId] || [];
    console.log(`Occupied seats for schedule ${scheduleId}: ${occupiedSeats}`);

    for (let row = 0; row < rows; row++) {
      const seatRow = document.createElement('div');
      seatRow.className = 'seat-row';

      for (let seatNum = 0; seatNum < seatsPerRow; seatNum++) {
        const seatNumber = (row * seatsPerRow) + seatNum + 1;
        const seat = document.createElement('button');
        seat.className = 'seat';
        seat.textContent = seatNumber;

        if (occupiedSeats.includes(seatNumber)) {
          seat.disabled = true;
          seat.classList.add('disabled');
        } else {
          seat.addEventListener('click', function (event) {
            event.preventDefault();
            this.classList.toggle('selected');
            updateSelectedSeats();
            document.getElementById('reserveComplete').disabled = !document.querySelectorAll('.seat.selected').length;
          });
        }

        seatRow.appendChild(seat);
      }

      seatsContainer.appendChild(seatRow);
    }
  }

  function updateSelectedSeats() {
    const selectedSeats = Array.from(document.querySelectorAll('.seat.selected')).map(seat => seat.textContent);
    document.getElementById('selectedSeats').value = selectedSeats.join(',');
    console.log("Selected Seats:", selectedSeats);
  }
  document.addEventListener("DOMContentLoaded", function() {
    const userSection = document.getElementById("userSection");
    const adminSection = document.getElementById("adminSection");

    if (userSection) {
      document.getElementById("menuButton").addEventListener("click", function() {
        const dropdownMenu = document.getElementById("dropdownMenu");
        dropdownMenu.classList.toggle("hidden");
      });
    }

    if (adminSection) {
      document.getElementById("menuButton2").addEventListener("click", function() {
        const dropdownMenu2 = document.getElementById("dropdownMenu2");
        dropdownMenu2.classList.toggle("hidden");
      });
    }
  });
</script>

</body>
</html>